---
import BlogHeader from "../components/BlogHeader.astro";
import BlogPostPreview from "../components/BlogPostPreview.astro";
import Page from "../components/Page.astro";

const pages = await Astro.glob("./articles/*.mdx");

const title = "Ratio";
const description = "A collection of common arguements I have";

// <aside data-pagefind-ignore> is a toggle for pagefind.app to exclude the
// portion from search result, i.e. in this case to exclude the TOC from being
// shown again in the result.
---

<Page {title} {description}>
  <BlogHeader title={title} />

  <div class="flex justify-center">
    <div class="text-lg w-5/6 lg:w-3/4">
      <aside data-pagefind-ignore>
        <div>
          <p class="my-6 font-semibold text-white">
            {description}
          </p>
        </div>

        <div class="grid grid-cols-4">
          {
            pages.map((p: any) => (
              <div id="balla" class="m-3 rounded-lg shadow-lg w-">
                <BlogPostPreview post={p} />
              </div>
            ))
          }
        </div>
      </aside>
    </div>
  </div>

  <style>
    #balla {
      background-color: #5C5470;
    }
  </style>
</Page>
